---
import "@/styles/global.css";
import "@/styles/theme.scss";

import LayoutBody from "./_blocks/LayoutBody.vue";
import Header, { type Props as HeaderProps } from "@/widgets/Header.astro";
import Aside from "@/widgets/Aside.astro";

export interface Props {
    pageTitle: string;
    brand?: HeaderProps["brand"];
    headerNav: readonly {
        href: string;
        text: string;
    }[];
    headerActive?: (typeof headerNav)[number]["href"];
    asideNav: readonly {
        href: string;
        text: string;
    }[];
    asideActive?: (typeof Astro.props.asideNav)[number]["href"];
}

const { pageTitle, brand, headerNav, headerActive, asideNav, asideActive, ...rest } = Astro.props as Props;
---

<!doctype html>
<html lang="en" class="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body>
        <LayoutBody>
            <Header slot="header" brand={brand ?? pageTitle} nav={headerNav} active={headerActive} />
            <Aside slot="aside" nav={asideNav} active={asideActive} />
            <slot slot="main" {...rest} />
        </LayoutBody>
    </body>
</html>

<style lang="scss">
    body {
        background-color: var(--bg-color);
    }
</style>
